<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>23_lecture_UIView_Drawings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9C951C81EB3233A00963737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C951E11EB3233A00963737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C951EC1EB3233A00963737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
